.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2.7rem;
    align-items: center;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 80svh;
    max-height: 625px;
    width: 74dvw;
    max-width: 350px;
    background-color: rgba(245, 245, 220, 0.722);
    border: 0.75em double #DBB75F;
    border-radius: 50% / 130px;
    box-sizing: border-box;
    position: relative; 
    text-shadow: #DBB75F 0px 0px 10px;
    box-shadow: #DBB75F 0px 0px 20px;
}

.card img {
    position: absolute;
    z-index: 1;
    
}

#B1{
    top: -25%;
    left: 58%;
    max-width: 9.5em;
    width: 32svw;
    transform: rotate(117deg) rotateZ(180deg) rotateY(180deg);
    animation: infinite 10s AnimateRotate;
    transform-origin: bottom left;
}

#B2{
    top: -10%;
    transform: translateX(-3%);
    max-width: 9.5em;
    width: 32svw;
    animation: infinite 15s AnimateRotate linear;
}

#B3{
    bottom: 15%;
    transform: rotate(38deg);
    left: -43%;
    max-width: 11em;
    width: 40svw;
    transform-origin: bottom;
    animation: infinite 10s AnimateRotate;
}

#B4{
    bottom: -4%;
    left: -20%;
    max-width: 11em;
    width: 40svw;
    transform-origin: center;
    animation: infinite 15s AnimateRotate linear;
}

#B5{
    max-width: 11rem;
    right: 41%;
    bottom: 9.5%;
    transform:rotate(19deg) rotateY(180deg);
    transform-origin: bottom right;
    animation: infinite 14s AnimateRotate linear;
}

#B6{
    z-index: 0;
    bottom: 10%;
    right: -4%;
    max-width: 11em;
    width: 40vw;
    transform: rotate(26deg);
    transform-origin: bottom right;
    animation: infinite 10s AnimateRotate linear;
}

#B7{
    bottom: -4%;
    right: -8%;
    max-width: 9em;
    width: 32vw;
    transform-origin: bottom right;
    animation:  infinite 20s AnimateRotate linear;
}

.card div {
    position: relative;
    z-index: 2;
}

.Calbot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}

h1, h2 {
    font-size: 1rem;
    font-weight: normal;
    color: #DBB75F;
    text-align: center;
    font-weight: normal;
    font-family: "Playfair Display", serif;
}

.Calbot h1 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #ffffff;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-align: center;
    font-family: "Great Vibes", cursive;
}
.Calbot p {
    margin-top: 0rem;
    font-size: 0.8rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: "Playfair Display", serif;
}

p {
    font-size: 0.8rem;
    color: #ffffff;
    margin-bottom: 0.3rem;
    text-align: center;
    font-family: "Playfair Display", serif;
  
}

@keyframes AnimateRotate {
    0% {
        rotate: 0deg;  
    }
    50% {
        rotate: 10deg;
    }
    100% {
        rotate: 0deg;  
    }
}

@keyframes AnimateRotate2 {
    0% {
        rotate: 0deg;  
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        rotate: 0deg;  
    }
}