.MapsCard{
    display: flex;
    margin: auto;
    position: relative;
    justify-items: center;
    align-items: center;
    max-width: 500px;
}

.maps{
    margin: auto;
    border-radius: 2%;
    width: 80vw;
    max-width: 350px;
    height: 80vw;
    max-height: 350px;
}